<form
        {% if service %}
            hx-post="{% url "services:service_edit" service.id %}"
        {% else %}
            hx-post="{% url 'services:service_create' %}"
            hx-target="#new-service-modal-container"
        {% endif %}
            hx-swap="innerHTML"
            novalidate=""
            enctype="multipart/form-data"
>
    {% csrf_token %}

    <!-- Modal body with scrollable content -->
    <div class="p-2 md:p-3 space-y-4 max-h-[60vh] overflow-y-auto">
        {% include "components/non-field-errors.html" %}

        <div class="grid grid-cols-2 gap-4 md:gap-6">
            {% include "components/field.html" with field=form.name field_widget_class="col-span-2" %}
            {% include "components/field.html" with field=form.category field_widget_class="col-span-1" %}
            {% include "components/field.html" with field=form.service_type field_widget_class="col-span-1" %}
            {% include "components/field.html" with field=form.description field_widget_class="col-span-2" %}
            {% include "components/field.html" with field=form.base_cost field_widget_class="col-span-1" %}
            {% include "components/field.html" with field=form.max_coverage field_widget_class="col-span-1" %}
            {% include "components/field.html" with field=form.coverage_percentage field_widget_class="col-span-1" %}
            {% include "components/field.html" with field=form.waiting_period field_widget_class="col-span-1" %}
            {% include "components/field.html" with field=form.requires_preauth field_widget_class="col-span-1" %}
            {% include "components/field.html" with field=form.is_active field_widget_class="col-span-1" %}
        </div>
    </div>

    <div class="flex items-center p-2 md:p-3 border-t border-gray-200 justify-end">
        <div class="w-40">
            {% include "components/submit-button.html" %}
        </div>
    </div>
</form>