<!-- Toolbar -->
    <div class="bg-white px-4 py-3 border-b flex items-center justify-between">
        <div class="flex items-center gap-4 divide-x divide-gray-400">
            <button
                    hx-get="{% url 'membership:members_export' %}"
                    hx-target="#export-modal-container"
                    hx-trigger="click"
                    onclick="export_modal.show()"
                    hx-indicator="#export-modal-overlay"
                    class="flex items-center space-x-2 text-sm text-green-600 hover:text-green-800">
                    <i class="bi bi-download h-4 w-4"></i>
                    <span>Export</span>
                </button>
            <button
                    hx-get="{% url 'membership:members_import' %}"
                    hx-target="#import-modal-container"
                    hx-trigger="click"
                    onclick="import_modal.show()"
                    hx-indicator="#import-modal-overlay"
                    class="flex items-center space-x-2 text-sm pl-2 text-blue-600 hover:text-blue-800">
                    <i class="bi bi-upload h-4 w-4"></i>
                    <span>Import</span>
                </button>
        </div>
        <button class="flex items-center space-x-2 text-sm text-gray-600 hover:text-gray-800">
            <i class="bi bi-share"></i>
            <span>Share and sync</span>
        </button>
    </div>