<form
        {% if claim %}
            hx-post="{% url "services:claim_edit" claim.id %}"
        {% else %}
            hx-post="{% url 'services:claim_create' %}"
            hx-target="#new-claim-modal-container"
        {% endif %}
            hx-swap="innerHTML"
            novalidate=""
            enctype="multipart/form-data"
>
    {% csrf_token %}

    <!-- Modal body with scrollable content -->
    <div class="p-2 md:p-3 space-y-4 max-h-[60vh] overflow-y-auto">
        {% include "components/non-field-errors.html" %}

        <div class="grid grid-cols-2 gap-4 md:gap-6">
            {% include "components/field.html" with field=form.beneficiary field_widget_class="col-span-2" %}
            {% include "components/field.html" with field=form.service_provider field_widget_class="col-span-2" %}
            {% include "components/field.html" with field=form.claimed_amount field_widget_class="col-span-1" %}
            {% include "components/field.html" with field=form.approved_amount field_widget_class="col-span-1" %}
            {% include "components/field.html" with field=form.service_date field_widget_class="col-span-1" %}
            {% include "components/field.html" with field=form.claim_date field_widget_class="col-span-1" %}
            {% include "components/field.html" with field=form.diagnosis field_widget_class="col-span-2" %}
            {% include "components/field.html" with field=form.treatment field_widget_class="col-span-2" %}
            {% include "components/field.html" with field=form.status field_widget_class="col-span-1" %}
            {% include "components/field.html" with field=form.priority field_widget_class="col-span-1" %}
        </div>
    </div>

    <div class="flex items-center p-2 md:p-3 border-t border-gray-200 justify-end">
        <div class="w-40">
            {% include "components/submit-button.html" %}
        </div>
    </div>
</form>