<form id="verify-login-form"
      class="login-form active"
      hx-post="{% url 'authentication:email_verify' %}"
      hx-target="#verify-login-form"
      hx-swap="outerHTML"
      novalidate
      hx-indicator="#loading-indicator">
    {% csrf_token %}

    <div class="space-y-4">
        {% include 'components/non-field-errors.html' %}

        <div class="rounded-sm bg-blue-50 p-4">
            <div class="text-sm text-blue-700">
                <div class="flex items-center gap-2">
                    <i class="bi bi-exclamation-circle"></i>
                    We've sent a verification code to your email address
                </div>
            </div>
        </div>
        {% include 'components/field.html' with field=form.code %}
        {{ form.email.as_hidden }}

        {% include 'components/submit-button.html' with submit_text=" Verifying Code" loading_text="Verifying..." %}
    </div>
</form>
