<div id="{{ modal_id|default:'loading' }}-overlay"  class="htmx-indicator absolute inset-0 bg-gray-900/30 rounded-sm p-6 flex items-center justify-center shadow-xl absolute inset-0 backdrop-blur-sm">
    <div class="bg-white rounded-md p-12 shadow-xl max-w-sm mx-4">
        <div class="flex items-center space-x-4">
            <div class="animate-spin rounded-full h-8 w-8 border-b-2 border-blue-600"></div>
            <div class="text-gray-900">
                <div class="font-medium">Loading...</div>
                <div class="text-sm text-gray-500">Please wait</div>
            </div>
        </div>
    </div>
</div>
