{% extends 'layouts/core/base.html' %}
{% load static %}

{% block title %}Members{% endblock %}

{% block content %}
    <!-- Header -->
    {% include "pages/core/membership/partials/member-list/header.html" %}

    <!-- Member List Container -->
    <div id="member-list-container"
         hx-get="{% url 'membership:members_list' %}"
         hx-trigger="load" class="flex flex-col flex-1 pb-4 max-w-full max-h-full overflow-y-auto">
        <!-- Member list will be loaded here via HTMX -->
        <div class="flex items-center justify-center py-12">
            <div class="text-center">
                <i class="bi bi-people text-4xl text-gray-400 mb-4"></i>
                <p class="text-gray-500">Loading members...</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% include 'layouts/core/sidebar/membership.html' %}
{% endblock %}

{% block modals %}
    {% include "pages/core/membership/partials/member-list/new-modal.html" with modal_id="new-member-modal" %}
    {% include "pages/core/membership/partials/member-list/edit-modal.html" with modal_id="edit-member-modal" %}
    {% include "pages/core/membership/partials/member-list/import-modal.html" with modal_id="import-member-modal" %}
{% endblock %}


{% block extra_js %}
    <script>
        const $newMemberModalElement = document.getElementById('new-member-modal');
        const $editMemberModalElement = document.getElementById('edit-member-modal');
        const $importModalElement = document.getElementById('import-member-modal');
        const $exportModalElement = document.getElementById('export-modal');
        
        const newModalInstanceOptions = {id: 'new-member-modal', override: true};
        const editModalInstanceOptions = {id: 'edit-member-modal', override: true};
        const importModalInstanceOptions = {id: 'import-member-modal', override: true};
        const exportModalInstanceOptions = {id: 'export-modal', override: true};

        const new_modal = new Modal($newMemberModalElement, modalOptions, newModalInstanceOptions);
        const edit_modal = new Modal($editMemberModalElement, modalOptions, editModalInstanceOptions);
        const import_modal = new Modal($importModalElement, modalOptions, importModalInstanceOptions);
        const export_modal = new Modal($exportModalElement, modalOptions, exportModalInstanceOptions);

    </script>
{% endblock %}