{% load static %}

<div class="bg-gray-50 border-b flex items-center justify-between">
  <!-- Breadcrumb -->
    <nav class="justify-between px-4 py-3 text-gray-700 border-r border-gray-200 sm:flex"
         aria-label="Breadcrumb">
        <ol class="inline-flex items-center mb-3 space-x-1 md:space-x-2 rtl:space-x-reverse sm:mb-0">
            <li>
                <div class="flex items-center">
                    <a href="{% url 'configurations:dashboard' %}"
                       class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2">
                        Dashboard
                    </a>
                </div>
            </li>
            <li aria-current="page">
                <div class="flex items-center">
                    <i class="bi bi-chevron-right w-3 h-3 mx-1 text-gray-400 text-xs"></i>
                    <a href="{% url 'membership:dashboard' %}"
                       class="ms-1 text-sm font-medium text-gray-700 hover:text-blue-600 md:ms-2">
                        Membership
                    </a>
                </div>
            </li>
            <li aria-current="page">
                <div class="flex items-center ">
                    <i class="bi bi-chevron-right w-3 h-3 mx-1 text-gray-400 text-xs"></i>
                    <span class="mx-1 text-sm font-medium text-gray-500 md:mx-2">Beneficiaries</span>
                </div>
            </li>
        </ol>
    </nav>
</div>